<div class="col-lg-12">
{{#if err}}
    <p>Возникла ошибка при отображении тем: {{err}}</p>
{{else}}
<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Заголовок</th>
      <th scope="col">Описание</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {{#each themes}}
    <tr>
      <th scope="row">{{math @index "+" 1}}</th>
      <td>{{this.title}}</td>
      <td>{{this.description}}</td>
      <td>
        <a href="/admin/edit/{{this._id}}">Редактировать</a> | 
        <a href="/admin/delete/{{this._id}}">Удалить</a> | 
        <a href="/admin/sendmultiple/{{this._id}}">Отправить уведомдение</a>
      </td>
    </tr>
    {{/each}}
  </tbody>
</table>
{{/if}}
</div>
