<div class="content">
    <div class="row">
        <div class="col-lg-12 col-md-12">
        <div id="accordion">
            <div id="message-block">

            </div>
            {{#each themes}}
            <div class="card">
              <div class="card-header" id="heading{{@index}}">
                <h5 class="mb-0">
                  <button class="btn btn-link" data-toggle="collapse" data-target="#collapse{{@index}}" aria-expanded="false" aria-controls="collapse{{@index}}">
                    {{this.title}}
                  </button>
                  <input style="float:right;" type="button" value="Подписаться" class="btn btn-primary" id="Subscribe_{{this._id}}" onclick="retrieveToken(this.id)">
                  <input style="float:right; margin-right:10px  " type="button" value="Отписаться" class="btn btn-outline-danger" id="Unsubscribe_{{this._id}}" onclick="deleteToken(this.id)">
                </h5>
              </div>
              <div id="collapse{{@index}}" class="collapse" aria-labelledby="heading{{@index}}" data-parent="#accordion">
                <div class="card-body">
                    {{this.description}}
                </div>
              </div>
            </div>
            {{/each}}
          </div>
        </div>
    </div>
</div>